<div class="center jumbotron">
	<h1>Welcome to MyReceipe APP</h1>

	<h2>
		This is the Second Home Page
	</h2>
   <p>	<%= link_to "Sign Up?",register_path,class: "btn btn-large btn-success" %> </p>
</div>

<div class="row">
	<div class="cl-lg-4">
	  <h3 class="midraw well">
	  	View Receipes as Guest User
	  </h3>
		<h2 class="left">Browse and View Receipies as Guest and Sign Up Later</h2>
		<p><%= link_to "Browse Receipes Listings", recipes_path, class: "btn btn-info btn-small" %></p>
	</div>
	<div class="cl-lg-4">
	  <h3 class="midraw well">
	  	View Receipes as Guest User
	  </h3>
		<h2 class="left">Add Update your recipes/create reviews/Like-Dislikes Recipes </h2>
		<p><%= link_to "Login to your account", login_path , class: "btn btn-info btn-small" %></p>
	</div>
	<div class="cl-lg-4 ">
	  <h3 class="midraw">
	  	View Receipes as Guest User
	  </h3>
		<h2 class="left well">Browse and View Receipies as Guest User</h2>
		<p><%= link_to "Browse Receipes Listings", "", class: "btn btn-info btn-small" %></p>
	</div>


</div>