$navbar-default-bg: #312312;
$light-orange: #ff8c0000;
$navbar-defaut-color: $light-orange;

#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: fff;
	text-transform: uppercase;
	letter-space: -1px;
	padding-top:9px;
	font-weight: bold;

}


#logo:hover {
	color: white;
	text-decoration: none;
}
body {
	padding-top:80px;
}
.nav_item{
	margin-left: 50px;
	margin-top: 20px;
   float: left;
}

.center {
	text-align: center;
}
h1,h2,h3,h4{
	line-height: 1;
}

h1{
	
	font-size: 3em;
	letter-spacing: -2px;
	margin-botton: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}
.left{
    left-spacing:10px;
    text-spacing:0.5px;
	
}

#table{
	padding:20px;
	text-alignment: right;
}
.class{
	padding:50px;
	border:100px;
}
.chef_info{
	margin-top: 5px;
	margin-left: 5px
}
.gravatar {
	border-radius: 10px;
}
.well {
	background-color: #1817E2;
	foreground-color: #11DB11;
	
}
input, textarea, select, .uneditable_input {
   border: 1px solid #d2d2d2;
   border-radius: 5px;
   width: 100%;
   margin-bottom: 15px;	

}
 input {
 height: auto !important
 }

 .close{
 margin-right: 15px;
 margin-top: 5px;
 }

 span.picture{
 margin-top: 10px;
 input{
   border: 0;
 }

 }

 .show_recipe {
 margin: 10px 10px 10px 10px;
 }
 .midraw{
 margin-bottom:50px;
 }
 .quite{
 border: 2px;
 }






@import "bootstrap-sprockets";
@import "bootstrap";